html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}
body {
  font-family: Arial, sans-serif;
  background-color: crimson;
}
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

header > img {
  width: 100px;
}

.ingredients-list {
  list-style: square inside;
}
ol {
  list-style: tibetan;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-image: url(./stars.png);
    vertical-align: bottom;
}

input[type="radio"]:hover {
  background-position: 30px 60px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

input:last-child {
    background: aquamarine;
}
input:last-child:hover {
    color: yellow;
}
input[type="radio"], select, input[type="submit"] {
  cursor: grab;
  outline: none;
}
h2 + .user_review {
  border-top: 1px solid black;
}

